.dongle-regular {
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
  } 

body {
    font-family: "Dongle", sans-serif;
    font-size: 50px;
    font-weight: 400;
    background-color: rgba(255, 247, 139, 0.505);
}


h1 {
    color: #4abae0;
    font-family: serif;
    font-size: 20px;
    text-align: center;
    background-color: #267011;
}

h1:hover {
    color: orange;인권에 대한 무시와 경멸이 인류의 양심을 격분시키는 만행을 초래하였으며, 인간이 언론과 신앙의 자유, 그리고 공포와
}



    a, 
    a:visited, 
    a:link{
        text-decoration: none;
        color: #4abae0
    }

    #hamster {
        font-size: 60px;
    }

    .chogkada {
        font-size: 80px;
    }

    .dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
